<%- include('includes/head') %>

<body>
    <%- include('includes/nav') %>

    <h1> <%= data.title %> </h1>

    <% if (data.errorMessage) { %>
        <h4><%= data.errorMessage %></h4>
    <% } %>
    
    <form action="/users/addUser" method="post">
        
        <label for="cpf">CPF: </label>
        <input type="text" name="cpf">
        <br>
        <label for="name">Nome: </label>
        <input type="text" name="name">
        <br>
        <label for="password">Senha: </label>
        <input type="password" name="password">
        <br>
        <input type="checkbox" id="isAdmin" name="isAdmin" value="true">
        <label for="isAdmin"> Criar como ADM</label><br>
        <button type="submit">CADASTRAR</button>

    </form>

</body>
</html>